body {
  background: url('./img/crypto-matrix.png');
  background-size: cover;
}

.wrapper {
  text-align: center;
  padding: 0 5rem;
  align-items: center;
  justify-content: center;
}

.headline {
  background-color: #000;
  margin: auto;
  width: 20%;
}

.headline h1, h3 {
  color: #f5fa75;
}

.cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 20%);
  justify-content: center;
}

.card {
  background-color: rgba(71, 218, 71, 0.562);
  border-radius: 10px;
  min-height: 300px;
  /* width: 175px; */
}

.card img {
  width: 150px;
}

.card p {
  display: none;
}

button {
  background: none;
  border: none;
}

.outer-modal {
  background-color: rgba(54, 51, 51, 0.568);
  display: grid;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
  opacity: 0;
  pointer-events: none;
}

.outer-modal.show {
  opacity: 1;
  pointer-events: all;
  transition: 0.2s ease-in;
}

.inner-modal {
  background-color: wheat;
  width: 300px;
  height: 400px;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}