.wrapper {
  text-align: center;
  padding: 0 5rem;
}

.cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 20%);
  justify-content: center;
}

.card {
  background-color: wheat;
  border-radius: 10px;
  min-height: 300px;
}

.card p {
  display: none;
}

.outer-modal {
  background-color: rgba(0, 255, 255, 0.5);
  display: grid;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
  opacity: 0;
  pointer-events: none;
}

.outer-modal.show {
  opacity: 1;
  pointer-events: all;
  transition: 0.2s ease-in;
}

.inner-modal {
  background-color: wheat;
  width: 300px;
  height: 400px;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}